[submodule "pikadecks-mcp"]
	path = pikadecks-mcp
	url = https://github.com/Rama-Krishna-Pidugu/pikadecks-mcp.git
	branch = main
[submodule "pikadecks-backend"]
	path = pikadecks-backend
	url = https://github.com/Rama-Krishna-Pidugu/pikadecks-backend.git
	branch = notification-thing
[submodule "webversion"]
	path = webversion
	url = https://github.com/Rama-Krishna-Pidugu/PikaDecks_Web.git
	branch = main
[submodule "pikadecks_frontend"]
	path = pikadecks_frontend
	url = https://github.com/Rama-Krishna-Pidugu/pikadecksFrontEnd_New.git
	branch = release/android
