-- Migration to migrate from image URLs to image keys

-- 1. Add new columns
ALTER TABLE public.cards
  ADD COLUMN image_key text,
  ADD COLUMN image_width integer,
  ADD COLUMN image_height integer,
  ADD COLUMN image_type text,
  ADD COLUMN notes_image_key text,
  ADD COLUMN notes_image_width integer,
  ADD COLUMN notes_image_height integer,
  ADD COLUMN notes_image_type text;

-- 2. Populate image_key from existing image_url
-- We will extract the path after .amazonaws.com/
UPDATE public.cards
SET image_key = substring(image_url from '\.amazonaws\.com/(.*)')
WHERE image_url IS NOT NULL AND image_url LIKE '%amazonaws.com/%';

-- 3. Populate notes_image_key from existing notes_image_url
UPDATE public.cards
SET notes_image_key = substring(notes_image_url from '\.amazonaws\.com/(.*)')
WHERE notes_image_url IS NOT NULL AND notes_image_url LIKE '%amazonaws.com/%';

-- 4. Drop old columns
ALTER TABLE public.cards
  DROP COLUMN image_url,
  DROP COLUMN notes_image_url;

